.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# doc and txt files
articles/*
articles_backup/*

# demo files
docbuilder_demo.docx
master_doc.docx
